<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A77E9991CC8BA1800586BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A77E9B21CC8BA1900586BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A77E9BD1CC8BA1900586BC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
